/* Estilos de botones principales */
.button1 {
  background: white;
  margin-top: -10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20.5px;
  width: 100px;
  height: 29px;
  left: 1115px;
  top: 25px;
}

.button2 {
  background: #00656e;
  color: white;
  margin-top: -10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20.5px;
  width: 86px;
  height: 29px;
  left: 1115px;
  top: 25px;
}

/* Botones secundarios */
.button3 {
  color: white;
  padding: 10px;
  width: 200px;
  font-size: 25px;
  margin-left: 130px;
  background: #00656e;
  border: 2px solid #00656e;
  box-sizing: border-box;
  border-radius: 40px;
}

.button4 {
  color: white;
  padding: 10px;
  width: 211px;
  height: 44px;
  font-size: 18px;
  background: #00656e;
  border: 2px solid #00656e;
  box-sizing: border-box;
  border-radius: 40px;
}

.button5 {
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
  width: 127.25px;
  height: 33px;
  margin-top: 200px;
  margin-left: -250px;
}
